<div id="main">
    <div class="container">
      <div class="canvas-wrapper">
        <canvas id="output"></canvas>
        <video id="video" playsinline style="
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          visibility: hidden;
          width: auto;
          height: auto;
        position: absolute;
        top: 0;
        right: 0;
          ">
        </video>
      </div>
    </div>
  </div>
  <div class="centered-axis-xy" *ngIf="!removespinner">
    <mat-spinner></mat-spinner>
    <div style="margin: auto;">Loading Face Detection</div>
</div>
<div>
<mat-card class="example-card">
 <mat-card-title>Capture pose</mat-card-title>   
    <button mat-raised-button color="primary" type="submit" class="button"(click)="poseCapture()">Capture</button></mat-card>
    
</div>