.canvas-wrapper{
    display: inline-block;
    vertical-align: top;
    width: 100vw;
    height: 100vh;
    margin:auto;
  }

  .centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.right-axis-xy {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%,-50%);
    text-align: center;
}
.left-axis-xy {
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}
.top-axis-xy {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
    text-align: center;
    
}
.bottom-axis-xy {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
    text-align: center;
}